<%
const categoriesList = list_categories({show_count: false});
const tagsList = list_tags({show_count: false});
const archivesList = list_archives({show_count: false});
%>

<div class="container">
    <% if (is_year() === false) { %>
        <p class="title is-3">Tag cloud</p>
        <%- tagcloud({min_font: 16, max_font: 35, amount: 999, color: true, start_color: 'gray', end_color: 'black'}) %>
        <br/>
        <br/>
        <% if (categoriesList !== "") { %>
            <p class="title is-3">Categories</p>
            <%- categoriesList %>
            <br/>
        <% } %>
        <% if (archivesList !== "") { %>
            <p class="title is-3">Archives</p>
            <%- archivesList %>
            <br/>
        <% }%>
    <% } else { %>
        <p class="title is-3"><%= page.month + '/' + page.year %></p>
        <table class="table is-fullwidth is-hoverable is-bordered is-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Post Date</th>
            </tr>
            </thead>
            <tbody>
            <% page.posts.each(article => { %>
                <tr>
                    <td>
                        <a href="<%= url_for(article.path) %>">
                            <%= article.title %>
                        </a>
                    </td>
                    <td>
                        <time datetime="<%= date_xml(article.date) %>">
                            <%= date(article.date) %>
                        </time>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } %>
<%- partial('partials/paginator') %>
