<div class="container">
  <p class="title is-3"><%=page.category%></p>
  <table class="table is-fullwidth is-hoverable is-bordered is-striped">
      <thead>
      <tr>
          <th>Title</th>
          <th>Post Date</th>
      </tr>
      </thead>
      <tbody>
        <% page.posts.each(article => { %>
          <tr>
              <td>
                <a href="<%=url_for(article.path)%>">
                  <%=article.title%>
                </a>
              </td>
              <td>
                <time datetime="<%=date_xml(article.date)%>">
                  <%=date(article.date)%>
                </time>
              </td>
          </tr>
        <% }); %>
      </tbody>
  </table>
</div>
<%- partial('partials/paginator') %>
