<div class="page-card-list">
  <% if (page.posts.length > 0) { %>
    <% page.posts.sort('date',-1).limit(10).each(post => { %>
          <div class="box">
              <article class="media">
                  <div class="media-content">
                      <div class="content">
                          <div class="page-card-title"><a href="<%=url_for(post.path)%>"><%= post.title !== '' ? post.title : 'No title' %></a></div>
                          <% post.tags.forEach(function(tag) { %>
                            <a class="tag is-light" href='<%= config.root %>tags/<%= tag.name.trim().replace(/\s|\./g, '-') %>'><%= tag.name %></a>
                          <% }); %>
                          <a class="tag is-light" href="<%= config.root %>archives/<%= date(post.date).split('-').slice(0,2).join('/') %>"><%=date(post.date)%></a>
                          <% if(theme.disqus && (theme.disqus.trim() !== "")){%>
                            <a class="tag is-light disqus-comment-count" data-disqus-identifier="<%= post._id %>" href="<%=url_for(post.path)+`#comment` %>">0 Comments</a>       
                          <%}%>
                          <div class="page-card-text">
                              <%- post.excerpt != undefined && post.excerpt.trim() !== "" ? post.excerpt : "No description" %>
                          </div>
                      </div>
                  </div>
              </article>
          </div>
  <% }); %> <% } %>
</div>
<%- partial('partials/paginator') %>