<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>
<!DOCTYPE html>
<html lang="<%=config.language%>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/lightx.css"/>
  </head>
  <body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="wrapper">
        <div class="container">
            <%-partial('partials/navigation-bar')%>
            <%- body %>
        </div>
      </div>
    </div>
    <div id="footer">
      <%-partial('partials/footer')%>
    </div>
  </div>
  </body>
</html>
