<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' | ' + config.title;
%>
<!DOCTYPE html>
<html lang="<%=config.language%>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="<%= theme.highlight %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="<%= config.root %>custom.css"/>
    <link rel="manifest" href="<%= config.root %>manifest.json" />
    <link rel="apple-touch-icon" href="<%= config.root %>icon512.png">
    <meta name="theme-color" content="#ffffff"/>
    <% if(theme.analyticsTrackingID && (theme.analyticsTrackingID.trim() !== "")){%>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- theme.analyticsTrackingID.trim() %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%- theme.analyticsTrackingID.trim() %>');
    </script>
    <%}%>
  </head>
  <body>
    <script>
      if ('serviceWorker' in navigator && false) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('<%= config.root %>sw.js', {scope: '<%= config.root %>'})
            .then(function (registration) {
              // console.log('ServiceWorker registration successful with scope: ', registration.scope);
            })
            .catch(function (err) {
              console.log('ServiceWorker registration failed: ', err);
            });
        });
      }
    </script>
  <div id="page-container">
    <%-partial('partials/nav')%>
    <div id="content-wrap">
        <div class="container">
          <%- body %>
        </div>
    </div>
    <%-partial('partials/footer')%>
  </div>
  <% if(theme.disqus && (theme.disqus.trim() !== "")){%>
    <script id="dsq-count-scr" src="//<%= theme.disqus %>.disqus.com/count.js" async></script>
  <%}%>
  <% if(theme.busuanzi) {%>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <%}%>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  </body>
</html>
