<% if (page.posts.length > 0) { %> 
  <% page.posts.sort('date',-1).limit(10).each(post => { %>
<div
  class="card article-list shadow-box bg-transparent"
  onclick="location.href='<%=url_for(post.path)%>'"
  style="margin-bottom: 16px;cursor: pointer"
>
  <div class="card-body">
    <h4 class="card-title font-weight-bold">
      <%= post.title %>
    </h4>
    <div>
      <% post.tags.forEach(function(tag) { %>
      <span
        class="badge badge-primary badge-hover"
        onclick="event.stopPropagation();location.href='/tags/<%= tag.name.trim().replace(/\s/g, '-') %>'"
        ><%= tag.name %></span
      >
      <% }); %>
      <span
        class="badge badge-secondary badge-hover"
        onclick="event.stopPropagation();location.href='/archives/<%= date(post.date).split('-').slice(0,2).join('/') %>'"
        ><%=date(post.date)%></span
      >
      <!-- <span class="badge badge-success badge-hover" onclick="event.stopPropagation();location.href='<%=url_for(post.path)+`#comment` %>'">Comments: <span class="disqus-comment-count" data-disqus-identifier="<%= post._id %>"></span></span> -->
      <span class="badge badge-info badge-hover">Views: 233 </span>
    </div>
    <p class="card-text">
      <%- truncate(strip_html(post.content), {length: 100, omission: ' ...'}) %>
    </p>
  </div>
</div>
<% }); %> <% } %>
