<% if (page.posts.length > 0) { %>
<% page.posts.sort('date',-1).limit(10).each(post => { %>
<div class="card" onclick="location.href='<%=url_for(post.path)%>'">
  <div class="card-title">
    <%= post.title %>
  </div>
  <div class="card-tag">
    <% post.tags.forEach(function(tag) { %>
    <span class="badge bg-primary" onclick="event.stopPropagation();location.href='/tags/<%= tag.name.trim().replace(/\s/g, '-') %>'"><%= tag.name %></span>
    <% }); %>
    <span class="badge bg-secondary" onclick="event.stopPropagation();location.href='/archives/<%= date(post.date).split('-').slice(0,2).join('/') %>'"><%=date(post.date)%></span>
<!--    <span class="badge bg-success" onclick="event.stopPropagation();location.href='<%=url_for(post.path)+`#comment` %>'">Comments:-->
<!--      <span class="disqus-comment-count" data-disqus-identifier="<%= post._id %>"></span>-->
<!--    </span>-->
<!--    <span class="badge bg-info">Views: 233 </span>-->
  </div>
  <div class="card-text">
    <%- truncate(strip_html(post.content), {length: 150, omission: '...'}) %>
  </div>
</div>
<% }); %> <% } %>
